<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
	<include resource="org/springframework/boot/logging/logback/defaults.xml"/>
	<include resource="org/springframework/boot/logging/logback/console-appender.xml" />
	<root level="INFO">
		<appender-ref ref="CONSOLE" />
	</root>
	<logger name = "org.opencds.cqf.cql.engine.debug" level="DEBUG"/>

	<!-- Crawler logs carry the batchId/serverKey from MDC so a headless run is followable. -->
	<appender name="CRAWLER_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5p [%X{batchId:-}/%X{serverKey:-}] %-36.36logger{36} : %m%n</pattern>
		</encoder>
	</appender>
	<logger name="org.hl7.davinci.api" level="INFO" additivity="false">
		<appender-ref ref="CRAWLER_CONSOLE" />
	</logger>
</configuration>
